POSTGRES_PASSWORD="Votre_Mot_De_Passe"
DATABASE_URL=postgresql+psycopg://admin:password@localhost:5432/ytasty_db

SECRET_KEY ="Votre_Clé_Secrète"

ADMIN_USERNAME="Votre_Username_Admin"
ADMIN_PASSWORD="Votre_mot_de_passe_admin"